*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/library_base/build/
/.idea/misc.xml
/.idea/
*.apk
/app/release/
/app/debug/
#*.json
#google-services.json
build/
dist/
node_modules/
local.properties
.secret-*
**.sample
#amplify-do-not-edit-end
